* {
    margin: 0;
}

body {
    display: grid;
    grid-template-areas: 'head head' 'main aside' 'foot foot';
    min-height: 100vh;
}

header {
    grid-area: head;
    background-color: #ff63478e;
}

main {
    grid-area: main;
    background-color: #fcfc84cb;
}

aside {
    grid-area: aside;
    background-color: #55e0e7bd;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside::before {
    content: 'ADS';
}

footer {
    grid-area: foot;
    background-color: #c5fc73d8;
}


/* NAV */

nav>ul {
    display: flex;
}

p {
    padding: 1em;
}

li {
    padding: 0 0.5em;
    list-style-position: inside;
}

article {
    border: 2px dashed black;
    padding: 0.5em;
    margin: 0.5em;
}