* {
    text-align: center;
}

body {
    background-color: white;
    font-family: consolas, monaco, monospace;
}

marquee {
    color: rgb(253, 210, 9);
    border: 1px dashed rgb(253, 210, 9);
    font-size: 150%;
    cursor: progress;
    padding: 1%;
    margin-right: 8%;
    margin-left: 6%;
    border-radius: 50px;
}

img {
    border-radius: 10px;
}

.P_MinderaSchool {
    text-align: center;
    color: rgb(253, 210, 9);
    font-size: 450%;
    cursor: pointer;
}

.P_MinderaSchool:hover {
    font-size: 1000%;
    transition: all 1s;
}

.barra {
    background-color: rgb(253, 210, 9);
    height: 1%;
    border-radius: 10px;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Tabelas */

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 95%;
    margin-left: 2%;
}

table tr:nth-child(even) {
    background-color: #eee;
}

table tr:nth-child(odd) {
    background-color: #fff;
}

table th {
    background-color: black;
    color: white;
}

td {
    text-align: left;
}

td:nth-child(3) {
    display: flex;
    justify-content: center;
}

td:hover {
    background-color: rgb(253, 210, 9);
}

.td_butao {
    background-color: #000;
    border: solid 1px yellow;
    border-radius: 20px;
    color: white;
    width: 50%;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
}

.td_butao:hover {
    background: linear-gradient(to left, red, orange, yellow, green, blue, indigo, violet);
    filter: blur(.5px);
    width: 100%;
    transition: all 2s ease-in-out;
}

.thTitulo {
    text-align: center;
    background-color: rgb(253, 210, 9);
    font-size: 50px;
}

.thTituloProjetos {
    background-color: rgb(0, 255, 255);
    font-size: 25px;
}

.thTituloTec {
    background-color: rgb(65, 105, 225);
    font-size: 25px;
}

.thTituloHTML {
    background-color: rgb(255, 0, 0);
    font-size: 25px;
}

.thTituloCSS {
    background-color: rgb(38, 0, 255);
    font-size: 25px;
}

.thTituloLess {
    background-color: rgb(29, 54, 93);
    font-size: 25px;
}

.thTituloJS {
    background-color: rgb(247, 223, 29);
    font-size: 25px;
}

.thTituloNodeJS {
    background-color: rgb(0, 128, 0);
    font-size: 25px;
}

.thTituloElectron {
    background-color: rgb(7, 150, 206);
    font-size: 25px;
}

.thTituloReact {
    background-color: rgb(49, 181, 233);
    font-size: 25px;
}

.thTituloMongoDB {
    background-color: rgb(0, 156, 8);
    font-size: 25px;
}

.thTituloMySQL {
    background-color: rgb(221, 144, 0);
    font-size: 25px;
}

.thTituloJava {
    background-color: rgb(206, 37, 7);
    font-size: 25px;
}

.thTitulosIntermedios {
    text-align: center;
    background-color: rgb(255, 0, 255);
    font-size: 25px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
}


/* Scrollbar */

::-webkit-scrollbar {
    width: 10px;
}


/* Barra de fundo */

::-webkit-scrollbar-track {
    background: #0004ff;
    border-radius: 10px;
}


/* Barra localização */

::-webkit-scrollbar-thumb {
    background: rgb(7, 160, 66);
    border-radius: 10px;
    border: 1px solid black;
}


/*Com o rato em cima da barra localização*/

::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 251, 0);
    border: 1px dashed black;
}