* {
  margin: 0;
  padding: 0;
  color: black;
  font-family: "Consolas", "monaco", "monospace", "Comic Sans MS", "cursive",
    "sans-serif";
}

html,
body {
  width: 100%;
  height: 100%;
}
