body {
    display: flex;
    flex-direction: column;
    background-color: #0A2F51;
}

header {
    width: 100%;
    background-color: #137177;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

header p {
    margin-left: 50px;
    color: #1D9A6C;
    font-size: 2rem;
}

header p span {
    color: #DEEDCF;
}

nav {
    margin-right: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 6px;
    padding-bottom: 4px;
}

nav a:hover {
    border-bottom: solid #1D9A6C 2px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 30;
}

main p {
    text-align: center;
    color: #1D9A6C;
    margin: 26px 2px;
    font-size: 50px;
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#TextSearch {
    background-color: #137177;
    border: none;
    border-radius: 10px;
    font-size: 35px;
    margin: 25px;
    padding: 4px 10px;
    outline: none;
}

#BtnDecide {
    font-size: 26px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #1D9A6C;
    outline: none;
}

#ImagemGif {
    padding: 6px;
    border: 1px solid yellow;
    border-radius: 20px;
}

footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

footer p {
    color: #BFE1B0;
    padding: 10px;
}


/* SMALL SCREENS */

@media (max-width:750px) {
    main p {
        margin: 18px 2px;
        font-size: 36px;
    }
}

@media (max-width:550px) {
    header p {
        margin-left: 25px;
        font-size: 1rem;
    }
    main p {}
    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #TextSearch {
        border-radius: 4px;
        font-size: 26px;
        margin: 10px;
        padding: 2px 8px;
        width: 90%;
    }
    #BtnDecide {
        width: 90%;
    }
}