* {
    margin: 0;
    padding: 0;
    color: whitesmoke;
}

html,
body,
main {
    height: 100%;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #163552, #13556C, #344064);
}

form {
    // border: 1px solid red;
    border-radius: 10px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    * {
        margin: 8px 0;
    }
    h1 {
        margin-bottom: 50px;
    }
    div.imputs {
        width: 100%;
        position: relative;
        border-bottom: 1px solid whitesmoke;
        img {
            position: absolute;
        }
        img.Img1 {
            left: 2px;
        }
        img.Img2 {
            right: 8px;
            bottom: 2px;
        }
        input {
            width: 100%;
            border: none;
            background: none;
            font-size: 20px;
            outline: none;
            padding: 0 0 2px 30px;
        }
    }
    button {
        padding: 20px 50px;
        font-size: 26px;
        border: none;
        border-radius: none;
        color: #163552;
        background-color: whitesmoke;
        outline: none;
        box-shadow: 0 1px #13556C;
    }
    div #DepoisDoButt {
        width: 100%;
        display: flex;
        justify-content: space-between;
        section {
            width: 50%;
            display: flex;
        }
        p {
            width: 50%;
            a {
                margin: 4px;
            }
        }
    }
}

footer {
    width: 100%;
    height: 30px;
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 10px;
    p {
        display: flex;
        align-items: center;
        word-spacing: 4px;
    }
}