* {
  margin: 0;
  padding: 0;
  color: whitesmoke;
}

html,
body,
main {
  height: 100%;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #163552, #13556C, #344064);
}

form {
  border-radius: 10px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form * {
  margin: 8px 0;
}

form h1 {
  margin-bottom: 50px;
}

form div.imputs {
  width: 100%;
  position: relative;
  border-bottom: 1px solid whitesmoke;
}

form div.imputs img {
  position: absolute;
}

form div.imputs img.Img1 {
  left: 2px;
}

form div.imputs img.Img2 {
  right: 8px;
  bottom: 2px;
}

form div.imputs input {
  width: 100%;
  border: none;
  background: none;
  font-size: 20px;
  outline: none;
  padding: 0 0 2px 30px;
}

form button {
  padding: 20px 50px;
  font-size: 26px;
  border: none;
  border-radius: none;
  color: #163552;
  background-color: whitesmoke;
  outline: none;
  box-shadow: 0 1px #13556C;
}

form div #DepoisDoButt {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

form div #DepoisDoButt section {
  width: 50%;
  display: flex;
}

form div #DepoisDoButt p {
  width: 50%;
}

form div #DepoisDoButt p a {
  margin: 4px;
}

footer {
  width: 100%;
  height: 30px;
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 10px;
}

footer p {
  display: flex;
  align-items: center;
  word-spacing: 4px;
}
